In [19]:
import pandas as pd
total_purchase = 'https://assets.datacamp.com/production/repositories/1646/datasets/2751adce60684a03d8b4132adeadab8a0b95ee56/AB_testing_exercise.csv'
purchase_data = pd.read_csv(total_purchase)
purchase_data.head()

        uid country gender  spent  purchases        date  group device
0  11115722     MEX      F   1595          5  2016-03-08  GRP B      I
1  11122053     USA      M    498          2  2017-07-14  GRP B      I
2  11128688     USA      F   2394          6  2017-09-17  GRP A      I
3  11130578     USA      F   1197          3  2017-11-30  GRP A      I
4  11130759     ESP      M   1297          3  2018-01-10  GRP B      A

In [20]:
total_purchases = purchase_data.groupby(
    by=['uid'], as_index=False).purchases.sum()

In [ ]:
total_purchases.head()

In [88]:
test_results_grpd = purchase_data.groupby(by=['group'], as_index=False)

In [90]:
test_results_grpd.uid.count()

   group    uid
0  GRP A  23009
1  GRP B  22874

In [22]:
total_purchases.purchases.mean()

4.54438463047316

In [91]:
test_results_grpd = purchase_data.groupby(by=['group'], as_index=False).agg({'purchase':['count', 'sum']})

KeyError: "Column 'purchase' does not exist!"

In [38]:
merge['date_x'] = pd.to_datetime(merge['date_x'])

In [40]:
merge.date_x = merge.date_x.dt.floor('d')

In [56]:
from scipy import stats
def get_power(n, p1, p2, c1):
    alpha = 1-c1
    qu = stats.norm.ppf(1-alpha/2)
    diff = abs(p2-p1)
    bp = (p1+p2)/2
    ......
    power=power_part_one+power_part_two
    return(power)

def get_sample_size(power,p1, p2, c1, max_n=1000000):
    n=1
    while n <= max_n:
        tmp_power = get_power(n,p1,p2,c1)
        if tmp_power>=power:
            return n
        else:
            n+=1